.btn1_div {
    height : 150px ;
    /*background-color: blue ;*/
    text-align : center;
}

.btn1 {
    width : 100px;
    height : 50px;
    background-color : green;
    margin-top : 20px ;
    text-align : right;
    font-size: 20px;
}

.input {
    font-size : 20px;
}

.a_css {
    text_decoration: underline;
    color : blue;
    cursor: pointer;
}